@import url('https://fonts.googleapis.com/css?family=NTR');

html {
    background-color: #212121;
    color: #FAFAFA;
    font-family: 'NTR', sans-serif;
}

h1,
p {
    margin: 0;
}

h1 {
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

a.button {
    border: 1px solid #FAFAFA;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.8s;
}

a.button:hover {
    background-color: #00C853;
    border: 1px solid #00C853;
}