---
import Base from "../layouts/Base.astro";
---

<Base>
    <section class="sm:h-screen max-w-4xl w-full mx-auto px-4 py-10 lg:p-4 flex flex-col items-center justify-center text-center">
        <h1 class="text-5xl lg:text-6xl font-black mb-4">
            My name is Jeffrey Berry
        </h1>
        <p class="text-base lg:text-xl leading-loose">
            I am based in Southern California in Orange County. I write software for <a href="https://cotua.com/" class="text-cyan-500 underline">cotua.com</a> and <a href="https://www.cubeship.com/" class="text-cyan-500 underline">cubeship.com</a> ranging from websites, apis, and even a couple instances involving some data engineering with a little <a href="https://www.python.org/" class="text-cyan-500 underline">Python</a>.
        </p>
        <p class="text-base lg:text-xl my-4 leading-loose">
            These days I have been writing C# for <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/apis" class="text-cyan-500 underline">.NET api development</a> while using <a href="https://nextjs.org/" class="text-cyan-500 underline">NextJS</a> for enterprise projects and <a href="https://astro.build/" class="text-cyan-500 underline">Astro</a> for marketing and lead generation websites. I am an active user of <a href="https://www.typescriptlang.org/" class="text-cyan-500 underline">TypeScript</a> and enjoy <a href="https://react.dev/" class="text-cyan-500 underline">React</a>, <a href="https://vuejs.org/" class="text-cyan-500 underline">Vue</a>, and <a href="https://svelte.dev/" class="text-cyan-500 underline">Svelte</a> with <a href="https://tailwindcss.com/" class="text-cyan-500 underline">Tailwind</a> to tie everything together. I use a combination of <a href="https://azure.microsoft.com" class="text-cyan-500 underline">Azure</a>, <a href="https://pages.cloudflare.com/" class="text-cyan-500 underline">Cloudflare Pages</a>, <a href="https://cloud.google.com/run/" class="text-cyan-500 underline">Google Cloud Run</a> + <a href="https://cloud.google.com/bigquery/" class="text-cyan-500 underline">Big Query</a>, and <a href="https://www.netlify.com/" class="text-cyan-500 underline">Netlify</a> for all my different software needs.
        </p>
        <p class="text-base lg:text-xl leading-loose">
            I enjoy coffee, <a href="https://log.concept2.com/profile/1738484" class="text-cyan-500 underline">rowing</a>, swinging kettlebells, and attempting to play through my backlog. Currently trying to find the time (and failing to) to complete <a href="https://www.cyberpunk.net" class="text-[#fcee0a] underline">Cyberpunk 2077</a>. Please feel free to connect with me on <a href="https://www.linkedin.com/in/jeffrey-berry-82154a3a/" class="text-cyan-500 underline">LinkedIn</a> or see what I am working on on <a href="https://github.com/jberry93" class="text-cyan-500 underline">GitHub</a>.
        </p>
    </section>
</Base>
