---
import Base from "../layouts/Base.astro";
---

<Base>
    <section>
        <h1>Jeffrey Berry</h1>
        <p>
            I am based in southern California in Orange county. I write a variety of software for <a href="https://cotua.com/">cotua.com</a>, <a href="https://bananaloans.com">bananaloans.com</a>, and <a href="https://www.cubeship.com/">cubeship.com</a> ranging from websites, apis, and data engineering across the real estate, finance, and logistics spaces. When I am not writing software, I enjoy rowing and weight lifting (<a href="https://log.concept2.com/profile/1738484">more so rowing</a>). Please feel free to connect with me on <a href="https://www.linkedin.com/in/jeffrey-berry-82154a3a/">LinkedIn</a> or see what I am working on on <a href="https://github.com/jberry93">GitHub</a>.
        </p>
    </section>
</Base>
