---
import Base from "../layouts/Base.astro";
---

<Base>
    <section class="h-screen max-w-3xl w-full mx-auto px-2 flex flex-col items-center justify-center text-center">
        <h1 class="text-4xl lg:text-6xl font-black mb-4">
            My name is Jeffrey Berry
        </h1>
        <p class="text-sm lg:text-lg font-bold">
            I am based in Southern California in Orange County. I write a variety of software for <a href="https://cotua.com/" class="text-cyan-500 underline">cotua.com</a>, <a href="https://bananaloans.com" class="text-cyan-500 underline">bananaloans.com</a>, and <a href="https://www.cubeship.com/" class="text-cyan-500 underline">cubeship.com</a> ranging from websites, apis, and data engineering across the real estate, finance, and logistics spaces. When I am not writing software, I enjoy rowing and weight lifting (<a href="https://log.concept2.com/profile/1738484" class="text-cyan-500 underline">more so rowing</a>). Please feel free to connect with me on <a href="https://www.linkedin.com/in/jeffrey-berry-82154a3a/" class="text-cyan-500 underline">LinkedIn</a> or see what I am working on on <a href="https://github.com/jberry93" class="text-cyan-500 underline">GitHub</a>.
        </p>
    </section>
</Base>
