---
import Base from "../layouts/Base.astro";
---

<Base title="My Resume as a Software Engineer" description="I am a software engineer experienced in developing and maintaining web applications and apis. I mainly work with TypeScript, React, C#, and .Net.">
    <section class="max-w-5xl w-full mx-auto mt-24">
        <h1 class="text-3xl lg:text-6xl font-black">
            Resume
        </h1>
    </section>
    <section class="max-w-5xl w-full mx-auto mt-8">
        <h2 class="text-xl lg:text-2xl font-black">
            Experience
        </h2>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Lead Software Engineer
            </strong>
            <p class="text-sm mt-1">
                <a class="text-cyan-500" href="https://www.cubeship.com/" target="_blank">Cubeship</a>
            </p>
            <p class="text-sm mt-1">
                June 2022 - Present
            </p>
            <p class="text-sm mt-1">
                Remote
            </p>
        </div>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Software Engineer
            </strong>
            <p class="text-sm mt-1">
                <a class="text-cyan-500" href="https://cotua.com/" target="_blank">Cotua</a>
            </p>
            <p class="text-sm mt-1">
                May 2017 - Present
            </p>
            <p class="text-sm mt-1">
                Remote
            </p>
        </div>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Software Engineer
            </strong>
            <p class="text-sm mt-1">
                <a class="text-cyan-500" href="https://mbanc.com/" target="_blank">mbanc</a>
            </p>
            <p class="text-sm mt-1">
                Nov 2020 - Jun 2023 (2 yrs 8 mos)
            </p>
            <p class="text-sm mt-1">
                Remote
            </p>
        </div>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Web Developer
            </strong>
            <p class="text-sm mt-1">
                OnStellar
            </p>
            <p class="text-sm mt-1">
                Feb 2018 - Apr 2018 (3 mos)
            </p>
            <p class="text-sm mt-1">
                Remote
            </p>
        </div>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Web Developer
            </strong>
            <p class="text-sm mt-1">
                <a class="text-cyan-500" href="https://www.ethika.com/" target="_blank">Ethika</a>
            </p>
            <p class="text-sm mt-1">
                Aug 2016 - May 2017 (10 mos)
            </p>
            <p class="text-sm mt-1">
                San Clemente, CA
            </p>
        </div>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Web Developer Intern
            </strong>
            <p class="text-sm mt-1">
                <a class="text-cyan-500" href="https://www.playstation.com/" target="_blank">PlayStation</a>
            </p>
            <p class="text-sm mt-1">
                Jan 2016 - Jul 2016 (7 mos)
            </p>
            <p class="text-sm mt-1">
                Aliso Viejo, CA
            </p>
        </div>
    </section>
    <section class="max-w-5xl w-full mx-auto mt-8">
        <h2 class="text-xl lg:text-2xl font-black">
            Education
        </h2>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Marymount California University
            </strong>
            <small>
                Rancho Palos Verdes, CA
            </small>
            <p class="mt-4 ml-4 text-sm">
                Bachelors of Arts in Liberal Arts
            </p>
            <small class="ml-8 mt-1 font-light text-xs">
                <b>Areas of Emphasis:</b> Behavioral Sciences and Biomedical Sciences
            </small>
            <small class="ml-8 mt-1 font-light text-xs">
                <b>Activities and Societies:</b> Phi Theta Kappa, American Chemical Society, and Delta Epsilon Sigma
            </small>
            <small class="ml-8 mt-1 font-light text-xs">
                Graduated with distinction
            </small>
        </div>
        <div class="mt-4 flex flex-col">
            <strong class="font-black text-base">
                Orange County Code School
            </strong>
            <small>
                Irvine, CA
            </small>
            <p class="mt-4 ml-4 text-sm">
                540 hours of fullstack JavaScript development
            </p>
        </div>
    </section>
</Base>
