---
import "@fontsource/outfit/300.css";
import "@fontsource/outfit/500.css";
import "@fontsource/outfit/700.css";
import "@fontsource/outfit/900.css";

type Props = {
    title?: string;
    description?: string;
};

const {
    title = "Jeffrey Berry",
    description = "I am based in Southern California in Orange County. I write software for cotua.com and cubeship.com ranging from websites, apis, and even a couple instances involving some data engineering",
} = Astro.props satisfies Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KLDZ6NND');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <meta name="description" content={description}>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/favicon.ico">
        <title>{title}</title>
    </head>
    <body class="bg-gray-950 text-gray-50 tracking-wider selection:bg-teal-300 selection:text-teal-900">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLDZ6NND"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <main>
            <slot/>
        </main>
    </body>
</html>

<style is:global>
    body {
        font-family: "Outfit", Arial, Helvetica, sans-serif;
    }
</style>
