---
import "@fontsource/outfit/300.css";
import "@fontsource/outfit/500.css";
import "@fontsource/outfit/700.css";
import "@fontsource/outfit/900.css";

type Props = {
    title?: string;
};

const { title = "Jeffrey Berry" } = Astro.props satisfies Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="My personal site">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/favicon.ico">
        <title>{title}</title>
    </head>
    <body class="bg-gray-950 text-gray-50 tracking-wider selection:bg-teal-300 selection:text-teal-900">
        <main>
            <slot/>
        </main>
    </body>
</html>

<style is:global>
    body {
        font-family: "Outfit", Arial, Helvetica, sans-serif;
    }
</style>
